[2019-02-27 15:17] jtascensao opened #1 "Contributing guidelines"
# Contributing Guidelines

1. Review the [teaching philosophy](https://github.com/LDSSA/wiki/wiki/Teaching-Philosophy) (if needed) and related guidelines (if exist)
2. Review structure of the Academy (e.g., bootcamp duration, number of specializations)
2. Define who can contribute to curriculum development (the 🌏?)
3. Define timelines to (1) propose and (2) release curriculum changes
    1. Bootca

[2019-02-27 23:44] dominguezmaria commented on #1
After offline discussion with @jtascensao , I'm suggesting the following deadlines for the curriculum development:

**By mid March**
- The subject of each SLU in the bootcamp
- The subject of each specialisation
- The order in which the specialisations will happen

This way we can:
- Start assigning instructors to SLUs
- Start recruiting specialisation leads, already knowing when the specialisatio

[2019-03-04 12:58] jtascensao opened #3 "Issue and Pull Request templates"
Create Issue and Pull Request templates, in line with the Contributing Guidelines.

[2019-03-04 14:05] jtascensao opened #4 "Add Specialization Leads to CODEOWNERS"
When Leads are assigned to Specializations, they need to be added to the `CODEOWNERS`.

Additionally, they need to be marked as owners of their Specialization's curriculum.

This way, he will be reviewers of any changes made to their curriculum.

[2019-03-04 15:01] jtascensao opened #5 "Initial assessment"
# Initial assessment

## Context

Last year's curriculum should be the starting point for the next edition.

## Detailed Description

We need to revisit last year's curriculum, materials, as well as open issues and student feedback.

In doing so, we will build a complete picture of the **current state of the curriculum**.

## Possible Implementation

Go through all the learning materials and list

[2019-03-06 17:58] PedroGFonseca commented on #4
Not sure about owners of their Specialization's curriculum.

On that one I'm a bit Jupiterian, and want the Academy to feel "integrated" from end to end.

The curriculum should be defined by the Academy curriculum owner with the Specialization implementers, but the final word should be the Academy Curriculum owner. (which just happens to be you)

[2019-03-06 17:59] PedroGFonseca commented on #1
Re teaching philosophy: working on it, has been delayed by me

[2019-03-10 16:26] jtascensao commented on #4
The guidelines I shared with Chi:
* The Curriculum Team develops a detailed draft of the Specialization's curriculum
* Specialization Leads are assigned to Specializations, in accordance with the curriculum
* The curriculum works like "contract" that is binding for the Lead and the Curriculum Team
* From the assignment onwards, Leads also need to approve contract changes
* The Specialization Lead

[2019-03-10 16:28] PedroGFonseca commented on #4
This looks like a good compromise to be both integrated and not micro-managing.

I like the ` until 6 weeks before the start of the Specialization` part a lot, that will require @dominguezmaria to aggressively pressure them to start early, but would have a really high reward.

[2019-03-10 17:11] #1 closed

[2019-03-10 17:12] #3 closed

[2019-03-12 10:10] jtascensao opened #7 "Standard template for Notebooks"
# Standard template for Notebooks (SLUs and BLUs)

## Context

There is no consistency among notebooks.

This hurts the experience (no sense of integration).

It impacts learning, as navigation changes from one notebook to another and students need to adapt.

## Detailed Description

This would affect **all notebooks**, from **all SLUs and BLUs**.

We would need to port all notebooks to the new te

[2019-03-12 10:14] dominguezmaria commented on #7
Plus one for this one! I'm a consistency fan :)

I suggest adding a to the "Possible implementation" a standard for images and tables, like adding a caption and numerating these.

Also, we should define a standard for the exercises and examples notebooks too.

[2019-03-12 10:36] hcastilho commented on #7
It was part of my reasoning when including the `sample` directory in the [instructors](https://github.com/LDSSA/batch3-instructors) repo.

I would suggest changing the sample to a mock BLU with all the rules written directly in the notebook and making the format mandatory (probably renaming it from sample to style guide or something).

Then it could be used as a template for all other material.

[2019-03-12 11:24] jtascensao opened #8 "Limit the number of topics covered per SLU"
# Limit the Number of Topics Covered per SLU

## Context

The number of topics covered by SLUs is wildly inconsistent

Also, we try to fit too much in too little time.

## Detailed Description

This would affect all SLUs and function as a guideline for curriculum changes.

According to the [Program Structure](https://github.com/LDSSA/wiki/wiki/Starters-Academy-program-structure-overview,-and-main-

[2019-03-14 10:18] jtascensao commented on #8
Actually, 5 might be too much. A maximum of 3 would be ideal.

[2019-03-14 10:31] PedroGFonseca commented on #8
Yep, it would also force us to be very meticulous about our presentations.

Speaking of which, is there any quality assurance we should be doing on the presentations?

[2019-03-15 06:30] gaborsomogyi commented on #8
We should create some basic rules (use the presentation template, link to it in the readme.md) and enforce its usage to ensure consistency (most SLUs have followed this last time already, but there are some exceptions)
Maybe also work out some guidelines on the structure of the presentation (introduction-overview-explanations-recap)
opened this as a new issue #9

[2019-03-15 06:53] gaborsomogyi opened #9 "Standard template for SLU presentations"
## Context

SLU presentations are mostly uniform, however, there are some exceptions.
We should make all presentations follow the same guide

## Detailed Description

This would affect presentations from all SLUs, and the accompanying readme.md

## Possible Implementation

Basic rules
- use the presentation template, from the example SLU
- link to it in the readme.md

Guidelines on the structure o

[2019-03-15 10:44] dominguezmaria commented on #7
Just not to let things die, is anyone currently assigned to the task of defining the notebooks standards?
I can help with this one, if no one has taken it yet.
Not sure under which AOR this falls under!

[2019-03-15 10:52] jtascensao commented on #7
@dominguezmaria keep in mind that we are aiming to have only three topics per SLU.

Don't know if this is relevant, but perhaps it is.

[2019-03-16 15:28] HugoDLopes commented on #7
I totally agree with this. If the structure is one less thing people need to focus about when opening a notebook -> +1 on this ;)

[2019-03-16 15:29] HugoDLopes commented on #8
Another topic: will there be any iteration on which SLUs to keep and any new to add?

[2019-03-18 10:09] jtascensao commented on #8
@HugoDLopes yes, feel free to open a new discussion if you have ideas!

[2019-03-21 11:30] jtascensao commented on #9
I think we should remove the slide about the instructor.

[2019-03-30 17:55] PedroGFonseca commented on #9
Absolutely all for it. Who is owning the implementation on this one?

[2019-03-30 17:56] PedroGFonseca commented on #8
One idea is that the presentation is implemented by one person and approved by another (e.g. @gaborsomogyi).

Part of the issues of the last year was that many presentations were made a bit last second, or were at least only seen for the first time right before the talk.

[2019-03-30 17:56] PedroGFonseca commented on #7
Major +1

How will this be implemented?

[2019-04-01 14:27] jtascensao opened #10 "Companion Notation Guide"
# Notation Guide

Create a *Notation Guide* for the Academy.

## Context

We never define quite clearly:

- The setting of a machine learning problem
- Standard notation and definitions for the course.

I believe this is important for clarity, precision, and also, the way I see it, simplicity.

## Detailed Description

We would need to create what I'm calling the **Companion Notation Guide**.

It

[2019-04-03 13:32] jtascensao opened #11 "Bootcamp Curriculum"
# Bootcamp Curriculum

## Context

Prepare a proposal for the Bootcamp curriculum, to guide discussions.

## Detailed Description

The Bootcamp curriculum must include:
* Outline, containing all SLUs, names, order, and so on
* Main topics covered by each SLU (3 topics, at most)
* A detailed description of the contents of each SLU (to be discussed with Owners).

## Possible Implementation

The resu

[2019-04-04 20:42] PedroGFonseca commented on #10
Intuitively I agree, but can you give a couple of examples?

[2019-04-04 22:36] dominguezmaria commented on #7
I'll draft something next week and show it tou you guys.
Then we improve it based on you suggestions!

(If anyone else is feeling like doing it, just let me know 😄 )

[2019-04-14 14:34] PedroGFonseca commented on #10
(le ping)

[2019-04-14 14:35] PedroGFonseca commented on #9
@gaborsomogyi how should we proceed? Shall I make a template, for instance?

[2019-04-14 14:39] PedroGFonseca commented on #7
@dominguezmaria

![](https://i.imgflip.com/2yjzz0.jpg)

[2019-04-14 17:04] PedroGFonseca opened #13 "Bootcamp materials upgrade from batch 2"
# Bootcamp materials upgrade from batch 2

## Context

At the end of Batch 2 there were a bunch of small upgrades that needed doing. Even though there won't be a direct match between the structure of batch 2 and 3, I thought it would be useful enough to provide the upgrade on the bootcamp materials, so that we are iterating on a better version.

## Detailed Description

This contains a large numbe

[2019-04-14 19:03] dominguezmaria commented on #7
@PedroGFonseca I'm finish up some admission test stuff, which has priority over the SLU template (because is due in a couple of weeks 😅 ).
If you have some free time, can you pick this one up?
Otherwise, I'll have time for it next week!
(Sorry for overpromising on this one 😞)

[2019-04-14 22:07] PedroGFonseca commented on #7
I can take it!

[2019-04-14 22:16] hershaw commented on #7
Let us know when the structure is settled on as we can add it into the CI pipeline and automatically check for them so it will show up like this when you make a PR and are missing something that we can check for:

![image](https://user-images.githubusercontent.com/424192/56099917-4d706000-5f0b-11e9-91be-965589493956.png)

(notice the red next to step that checks the `README.md` exists)

[2019-04-15 10:00] jtascensao commented on #13
Discussed offline: the plan is for SLU owners to update their SLUs based on this.

[2019-04-15 10:03] jtascensao opened #14 "S02 - Data Wrangling Curriculum"
# S02 - Data Wrangling Curriculum

## Context

Prepare a proposal for the Data Wrangling curriculum, to guide discussions.

## Detailed Description

The curriculum must include:

- Outline, containing all BLUs, names, order, and so on
- Main topics covered by each BLU
- A detailed description of the contents of each SLU (to be discussed with the Specialization Lead).

## Possible Implementation

T

[2019-04-15 10:37] jtascensao commented on #7
Reassigned to @PedroGFonseca.

[2019-04-15 10:38] jtascensao commented on #9
@dominguezmaria do we have an owner? :smile:

[2019-04-15 10:42] jtascensao commented on #10
Not unlike [this one](https://github.com/LDSSA/batch2-blu10-instructors/blob/master/Learning%20Notebooks/BLU10%20-%20Learning%20Notebook%20-%20Part%201%20of%203%20-%20Framework.ipynb), but more generic.

[2019-04-23 14:18] #8 closed

[2019-04-23 14:20] #11 closed

[2019-04-23 14:20] #10 closed

[2019-04-23 14:20] #5 closed

[2019-04-24 17:29] PedroGFonseca opened #16 "In the curriculum, apply is mentioned before being explained"
## Context

In the [new curriculum, SLU04](https://github.com/LDSSA/curriculum-development/blob/master/curriculum/01-bootcamp.md#slu04) we tell students not to use `pd.apply` in outlier detection, but they don't know what that means yet

## Detailed Description

New SLU04

## Possible Implementation

Suggested: not mention it

[2019-04-24 22:15] dominguezmaria opened #17 "Very heavy content in most of the SLUs"
## Context

I'm opening this issue because I think that for most of the SLUs, the curriculum, as defined in [this PR](https://github.com/LDSSA/curriculum-development/pull/12), has too much content for the current SLU format.

I propose that we either:
* review the curriculum and cut off some parts;
* introduce a small change in the SLU format, to be able to teach everything included in the curricu

[2019-04-24 22:15] dominguezmaria commented on #17
@PedroGFonseca can you give us your precious insight on this one? 😇

[2019-04-25 16:54] PedroGFonseca commented on #17
I agree with the problem.

Regarding the solution I'm a bit more divided. There are a number of topics which, all together, are starting to feel like they should go in a specialisation. That would make the Academy specialisations:
[code]

The reasoning here would be that they will already be struggling to complete the SLUs in month 1, so adding more homework may be too much. The flip side of that

[2019-04-26 02:15] dominguezmaria commented on #17
I'm afraid that adding a new specialisation might be a logistics nightmare at this point 😞
What if we go with the homework approach but make the deadline for these exercises more towards the end of the course?
Of course that that revives the problem of them needing to go back to SLUs way after that's desirable...

[2019-04-26 05:19] gaborsomogyi commented on #17
I think we should consider a deeper question: do we want to make sure everyone who starts the course finishes it as well, or are we okay with a 'planned' attrition, where we knowingly throw the people into too deep water, and expect that not all of them would swim, but those who do get better off.

Since we're already making a harder entry test, I would keep the currently proposed curriculum, and

[2019-05-03 10:32] jtascensao commented on #17
To @gaborsomogyi's point, this year we **do have** a preparation course and tougher accepting criteria.

I would advise, given the time constraints, to stick we the current curriculum and rely on SLU owners to consult with us whenever they feel their units are becoming too heavy. We should explicitly advise them to do so, especially given how much effort is expected in the current format.

I suppo

[2019-05-03 10:37] jtascensao commented on #16
Great point. Although it was not a particularly bright thing to do, the note is there *for the teacher* and not the students (i.e., to be included as a note in the SLU).

The current material uses `.apply()`, so it needs to be re-done.

Will fix it by making it clear that this is a note for the teacher.

[2019-05-03 10:39] #16 closed

[2019-05-03 10:47] jtascensao opened #18 "Specializations List"
# Specializations List

## Context

We need to clarify what will be this year's specializations and in what order.

## Detailed Description

So that we have clarity on the skleleton of the remaining curriculum, we need to:
* List all the Specialization,
* In the proposed final order.

## Possible Implementation

Create a `README.md` file on the `/curriculum/` folder with:
* List of all specializat

[2019-05-03 20:26] dominguezmaria commented on #17
@jtascensao agree with your concern of there not being time for major format changes.
So let's go with what we have now and accept that there are some SLUs which are a bit heavier than the average.
In these cases, we should accept that:
- the presentation may last for a bit more than 15 minutes
- most of the exercises in the SLU will end up being completed at home, after the bootcamp

Finally, we

[2019-05-03 20:31] dominguezmaria commented on #17
@jtascensao @PedroGFonseca @gaborsomogyi

Do we all agree with the following?
- not doing any changes on the specialisation / SLU formats
- keeping the curriculum as it is, even if some SLUs are heavier
- accept that some SLUs will require some extra work at home

If all of us agree (add a 👍 on this comment), I'll close the issue.

[2019-05-05 14:06] PedroGFonseca commented on #17
![](https://s-media-cache-ak0.pinimg.com/736x/8a/99/2f/8a992f68f116be06c8ffa9f6ee8e5b00.jpg)

[2019-05-05 14:06] #17 closed

[2019-05-06 08:23] #18 closed

[2019-05-06 08:27] jtascensao opened #20 "S03 - Time Series Curriculum"
# S03 - Time Series Curriculum

## Context

Prepare a proposal for the Time Series curriculum, to guide discussions.

## Detailed Description

The curriculum must include:

- Outline, containing all BLUs, names, order, and so on
- Main topics covered by each BLU
- A detailed description of the contents of each SLU (to be discussed with the Specialization Lead).

## Possible Implementation

The res

[2019-05-06 08:29] jtascensao opened #21 "S04 - Text Classification"
# S04 - Text Classification

## Context

Prepare a proposal for the Text Classification curriculum, to guide discussions.

## Detailed Description

The curriculum must include:

- Outline, containing all BLUs, names, order, and so on
- Main topics covered by each BLU
- A detailed description of the contents of each SLU (to be discussed with the Specialization Lead).

## Possible Implementation

Th

[2019-05-06 08:30] jtascensao opened #22 "S05 - Recommender Systems"
# S05 - Recommender Systems

## Context

Prepare a proposal for the Recommender Systems curriculum, to guide discussions.

## Detailed Description

The curriculum must include:

- Outline, containing all BLUs, names, order, and so on
- Main topics covered by each BLU
- A detailed description of the contents of each SLU (to be discussed with the Specialization Lead).

## Possible Implementation

Th

[2019-05-06 08:32] jtascensao opened #23 "S06 - Model Deployment"
# S06 - Model Deployment

## Context

Prepare a proposal for the Model Deployment curriculum, to guide discussions.

## Detailed Description

The curriculum must include:

- Outline, containing all BLUs, names, order, and so on
- Main topics covered by each BLU
- A detailed description of the contents of each SLU (to be discussed with the Specialization Lead).

## Possible Implementation

The resu

[2019-05-06 08:32] jtascensao commented on #9
Ping

[2019-05-06 09:40] dominguezmaria commented on #9
Sorry for being late for the party! Let me find a volunteer for this :)
I'm currently under the water with the test, so if someone is available sooner that would be good, otherwise I can do it later this month.

[2019-05-06 10:28] hugorcf opened #24 "Guidelines for notation (SLUs e BLUs)"
# Title

Guidelines for notation (SLUs e BLUs)

## Context

There are a lot of machine learning concepts which are used throughout the SLUs and BLUs and whose naming and mathematical notation are not consistent. This impacts learning, especially during the bootcamp if the notation regarding the same concepts keeps changing from SLU to SLU.

## Detailed Description

The idea is to have consistent n

[2019-05-06 17:52] jtascensao commented on #24
@hugorcf such a document is included in the curriculum. Check it [here](https://github.com/LDSSA/curriculum-development/blob/master/curriculum/01-bootcamp-and-binary-classification.md).

What we need is a kick-ass volunteer! 😁

[2019-05-06 17:55] jtascensao commented on #24
I like the notation section of [The Hundred-Page Machine Learning Book]( http://www.goodreads.com/book/show/43190851-the-hundred-page-machine-learning-book).

[2019-05-07 09:24] hugorcf commented on #24
That's great @jtascensao! But the document itself does not exist yet, does it?

[2019-05-07 11:18] jtascensao commented on #24
No @hugorcf, we need a volunteer to put a proposal forward! In my opinion, it should be one of the first things to do content wise, but that's totally a personal, biased opinion.

Nonetheless, if you have the time to do it (or find someone who does), that would be a tremendous help and I would be really excited about it.

[2019-05-07 11:26] dominguezmaria commented on #24
@jtascensao , we have already have the following volunteers:
- @hugorcf preparing guidelines for math expressions and QAing it afterwards in the presentations / LUs
- Ivo Bernardo preparing the presentation template (couldn't find his handle! 😱 )

Are we missing anything?
Best team ever! 😎

[2019-05-07 11:34] jtascensao commented on #24
Nop, as effective as always, fearless leader @dominguezmaria.

![](https://media.giphy.com/media/41v9dH9bdhWLe/giphy.gif)

I wasn't aware that @hugorcf was already working on the notation guide, that's quite wonderful.

[2019-05-07 11:35] jtascensao commented on #24
Go go @hugorcf :muscle:

[2019-05-17 19:29] dominguezmaria commented on #9
Closing this after Ivo Bernardo having presented us with this awesome presentation [template](https://docs.google.com/presentation/d/1reOSEfUXVVYlk7-6G5KBNTO8q_www_nsEDjSAYbyjkw/edit#slide=id.p1).

[2019-05-17 19:29] #9 closed

[2019-05-25 19:10] PedroGFonseca opened #25 "Including Rank in SLU05 - Correlation and Causality"
# Including Rank in SLU05 - Correlation and Causality

## Context
In order to teach spearman it is necessary to teach Rank. I'm assuming that this hasn't been taught in the previous lessons.

## Possible Implementation

I'll add that to the SLU curriculum if it's ok. Just checking that it hasn't been taught before.

[2019-05-25 19:22] PedroGFonseca opened #26 "Risk of excessive similarity with previous batch exercises"
Risk of excessive similarity with previous batch exercises

## Context
Exercises from last year have solutions, and this year's need to be different enough that those don't half-solve them.

## Detailed Description

When making exercises for an SLU, it is quite tempting to take a look at the previous years, and do something "similar, yet different". However,  we must ensure that looking at the pre

[2019-05-25 19:47] PedroGFonseca opened #27 "Ensure unit developers and QAs are conscious of time"
# Ensure unit developers and QAs are conscious of time

## Context

One issue we had last year was that the time a LU took to consume was highly inconsistent. Both the Learning notebooks and Exercise notebooks contribute to this lack of consistency.

## Detailed Description

For instructors, everything is fast and easy [[1]](https://imgs.xkcd.com/comics/wikipedian_protester.png). That can lead us

[2019-05-26 16:52] hugorcf commented on #24
I have a (still short) draft of the mathematical notation guidelines, which I am writing in a Jupyter notebook, to take advantage of its LaTeX support. At this point, I'd like to ask for some feedback, namely:
- on the structure (more focused on notation, and not on definitions);
- what other topics I should include.

I've attached a PDF version of the notebook below:

[ldssa_notation_guidelines.p

[2019-06-13 06:38] hershaw commented on #24
I've included a link to this pdf in the contributing guidelines for notebook building. Let me know if a more official version is create and I'll update it.

[2019-06-15 13:53] PedroGFonseca opened #28 "What to do about "foundational exercises" without repeating last year?"
# What to do about "foundational exercises" without repeating last year?

We established that, given that students can easily find last year's exercises, we should not repeat them in the next year. This works fine for most exercises, but some are so foundational that they are difficult to avoid.

An example of this would be, in the SLU about correlation, having students implement correlation by ha

[2019-06-15 14:06] hugorcf commented on #28
In my opinion (having come across those kind of exercises as well while preparing my SLUs), I would say to just leave those as they are. As you said, unless you drop them, it is difficult to change these types of exercises.

As another example, after teaching the students how to compute things like the mean, standard deviation, etc, using pandas, it is difficult not to have an exercise or two aski

[2019-06-15 14:11] PedroGFonseca commented on #28
Agreed. @jtascensao should we add this to the contributing guidelines?

[2019-06-16 20:43] PedroGFonseca commented on #28
Actually the more I work on this the more I see it is a problem. Most of the exercises are foundational (and super basic such as "implement X").

@hershaw @dominguezmaria @jtascensao do we have good reason to believe they can see the previous year's answers? Because if we try to avoid the previous year's foundational exercises then with every academy the Exercise Notebooks will become less relevan

[2019-06-17 08:37] dominguezmaria commented on #28
@PedroGFonseca I think that we can keep the foundational ones, as those are really helpful for them to understand the concepts. Ideally we would also add a couple more exercises that would change over the years.

Example:
a) Implement Pearson correlation by hand (this is the same over the years)
b) [Some problem description], compute the correlation between _kgs of butter sold in Iowa_ and _number

[2019-06-20 19:47] dominguezmaria commented on #7
Closing this as @hershaw has already taken care of it! Thanks Sam :)

[2019-06-20 19:47] #7 closed

[2019-06-20 20:07] dominguezmaria commented on #27
@PedroGFonseca currently, the contributing guidelines are more meant to guide the instructors on how to submit their work in the instructors repo. So I've shared this [doc](https://docs.google.com/document/d/1w6JYwmbw5fWL7NuMSOuxL2LSE7krxesC5uKE8IvfGsE/edit?usp=sharing) with them in order to guide them on the SLU preparation.
However, we can add this info to the contributing guidelines in the futu

[2019-06-20 21:58] dominguezmaria commented on #24
@hugorcf this is very good :)
I tried thinking if we're missing something, but couldn't come up with an example. So I suggest that:
- the notebook with the guidelines should be placed in this repo
- we add a note in the notebook, saying: "If you're developing an SLU/BLU and find out that there is something missing here, please add it to the notebook and do a pull request with it"
- in the contribu

[2019-06-21 08:07] gaborsomogyi commented on #27
@dominguezmaria I agree, will take these into consideration when doing QA for SLUs
I'll create a QA checklist based on your prep doc over the weekend that we'll use to make sure SLUs have all the details and are of the right level

[2019-06-21 09:09] dominguezmaria commented on #26
@PedroGFonseca can you take a look at what I wrote [here](https://docs.google.com/document/d/1w6JYwmbw5fWL7NuMSOuxL2LSE7krxesC5uKE8IvfGsE/edit?usp=sharing) in section "How different should the exercises be from last year?". We can iterate on it, so leave any comments!

@gaborsomogyi can you also take a look at what I wrote, and if you agree, have it in mind for the QA?

[2019-06-21 09:10] dominguezmaria commented on #28
@PedroGFonseca can you take a look at what I wrote here in section "How different should the exercises be from last year?". We can iterate on it, so leave any comments!

Once we have something there that we all agree on, we can close this one!

[2019-06-21 10:54] CatarinaSilva commented on #28
I was also struggling with this (in fact I lost a couple of hours just seeing if I could find other "foundational exercises") but eventually what I did was:

- I tried to change the context of the problem, the data and the formulation around, so even though the exercise is still recognisable, it makes it a bit harder to find if they want to copy the year before
- I changed when I could the format

[2019-06-21 10:58] dominguezmaria commented on #28
@CatarinaSilva that is a very clear explanation of a very good solution!
In fact, what really matters is that they end up solving the exercise because copying and pasting from last year doesn't work out of the box!

[2019-06-30 22:26] PedroGFonseca commented on #28
I believe this one can be closed, thanks all :)

[2019-06-30 22:26] #28 closed

[2019-07-15 22:57] #14 closed

[2019-09-30 14:11] jtascensao commented on #22
@hugorcf @joseprsm

[2019-09-30 14:11] jtascensao commented on #22
@jtascensao to add Francisco.

[2019-09-30 14:12] jtascensao commented on #22
@jtascensao to share MR with curriculum.

Deadline: 4 Oct, 2019.

[2019-09-30 14:20] jtascensao opened #31 "S05 - Dataset"
## Context

List potential ideas for the dataset. We can use this to work backward from the dataset to the learning materials.

## Detailed Description

This is part of the Recommender Systems specialization.

Provide a list of datasets and potential ways to process them to generate a dataset for the competition.

## Possible Implementation

A document with datasets and cool ideas for the hackatho

[2020-05-25 20:12] #26 closed

[2020-05-25 20:12] #13 closed

[2020-05-25 23:48] PedroGFonseca commented on #27
Where did we end up on this? Can I haz close?

[2020-05-25 23:48] #25 closed

[2020-05-25 23:49] PedroGFonseca commented on #24
Where did we end up on this? Is it in the wiki? I can haz close?

[2020-05-25 23:50] PedroGFonseca commented on #23
Iz good? I can haz close?

[2020-05-25 23:51] PedroGFonseca commented on #4
This is now rendered obsolete by the new guidelines, will close

[2020-05-25 23:51] #4 closed

[2021-03-20 17:16] #20 closed

[2021-03-20 17:16] #21 closed

[2021-03-20 17:16] #22 closed

[2021-03-20 17:16] #23 closed

[2021-03-20 17:17] #24 closed

[2021-03-20 17:18] #27 closed

[2021-03-20 17:18] #31 closed

[2021-03-20 18:26] dominguezmaria opened #33 "Bootcamp curriculum discussion"
We'll use this issue to discuss changes to the [bootcamp curriculum](https://github.com/LDSSA/curriculum-development/blob/master/curriculum/01-bootcamp-and-binary-classification.md).

I'm proposing to remove the SLUs about ML models (other than Linear and Logistic Regression) and include them as optional content in Specializations:
- SVMs would go to Text Classification
- kNN would go to RecSys
-

[2021-03-20 18:29] dominguezmaria commented on #33
Questions for @CatarinaSilva:
- When do we need the final version of the bootcamp curriculum by, so we can add a due date to the issue
- Could you please add here the suggestions that you mentioned?

[2021-03-21 05:11] PedroGFonseca commented on #33
I like the idea of simplifying, but we may want to keep the tree based models as compulsory because￼ they
- are intuitive
- form the basis for the random forest "pocket knife"
- are useful to teach overfitting

[2021-03-21 13:45] dominguezmaria commented on #33
That's fair!
It also allows to keep the SLU about hyperparameter tuning almost unchanged, since a lot of the examples were on tree based methods.

[2021-03-21 14:08] Juliana-R commented on #33
My 2 cents: consider the time effort reported by more than 30 students was significantly more than the 10 hours/week recommended by us.

https://github.com/LDSSA/wiki/issues/64

[2021-03-21 14:27] Juliana-R commented on #33
Consider @PedroGFonseca 's suggestions: https://github.com/LDSSA/wiki/issues/75.

[2021-03-21 17:42] dominguezmaria commented on #33
I think these are teaching concerns rather than curriculum concerns. As in, these are about how to organise the bootcamp and not what content should go into the bootcamp.
I'm ok with the bootcamp pace being slower, and even if we have more time to teach stuff, I think we shouldn't add to the bootcamp's curriculum.

[2021-03-21 17:53] dominguezmaria commented on #33
@PedroGFonseca [suggestion](https://github.com/LDSSA/wiki/issues/47): add [DummyClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html) to the Workflow SLU.

[2021-03-21 18:08] dominguezmaria commented on #33
@rjna [suggestion](https://github.com/LDSSA/wiki/issues/46): add Undersampling and oversampling to the curriculum

[2021-03-21 18:58] CatarinaSilva commented on #33
hey @dominguezmaria I let's sett the deadline to the 20th of April for the bootcamp curriculum to be closed so we can start. Can I assume the 3 first BLUs did not change so I already get people to work on them. I'm still putting together the final proposal regarding deadlines for teaching but for these three I would like instructors on it already in April, if possible.

Regarding the suggestions:

[2021-03-22 11:22] ivopbernardo commented on #33
hey @CatarinaSilva and @dominguezmaria !

I am not sure how we could fit KNN in RecSys, at least with how we have the materials at the moment. We never approach the concept of binary targets in the context of RecSys due to the new concepts being introduced (sparse matrices, collaborative filtering) that tend to cause some struggle for students.

We would need to find an "angle" on how we can intro

[2021-03-22 15:13] dominguezmaria commented on #33
On the optional learning units, I'm in favour of removing them from the presentations. The amount of information that we present in the bootcamp is still huge and I believe that students will only absorb the largest part of the content when they're going over it at their pace, later on.
I'm up for debate on this one, but I don't think it's that valuable to have a presentation about a topic that we

[2021-03-22 17:42] ivopbernardo commented on #33
The angle would be needed if you wanted to include the classifier somewhere during the RecSys materials - we completely don't advise treating Rec. as a binary problem ahah Otherwise, if that's not the case and the optional part is a completely different notebook separated from the main materials, alrighty then!

[2021-03-22 18:04] dominguezmaria commented on #33
I'm referring to kNN as an algorithm **not as a classifier**.
kNN is an algorithm where, to make a prediction, you select a neighbourhood around a point, pick its k closest neighbours, combine the neighbours' features somehow and output a prediction. You can use this idea to implement a kNN classifier, a kNN regressor or a "kNN recommender" (which is basically what collaborative filtering is!).
In

[2021-03-22 18:18] ivopbernardo commented on #33
I think I am not being clear and probably being lost in my own semantic, sorry. When I'm referring to KNN I'm always assuming the **KNN Classifier** that was the focus of the application of KNN in the SLU, not the general KNN approach. The NN approach is already included and mentioned in the RecSys materials (and probably can be improved) - what is not included and I don't agree that is, is the KN

[2021-03-22 18:58] CatarinaSilva commented on #33
@dominguezmaria we use SVMs but the classifier there is not really the point. That being said, we could, however, create additional readings that are not essential to pass the exercises but that are provided for whoever is interested (as we do with going deeper in the chi-squared math, for example). Would that make sense?

Btw, for the units moved, they don't become optional in the bootcamp, right

[2021-03-22 21:56] dominguezmaria commented on #33
Ahh I see what you're saying! In my mind, the SLU's focus was not that much on the classifier, but more on the algorithm itself, and then the classifier was an example application of the algorithm.
In that case, I'm for removing this SLU from the bootcamp and only talking about nearest neighbours in the RecSys sepcialisation.

[2021-03-22 22:08] dominguezmaria commented on #33
Yes, I was thinking that the materials that we already have on SVMs would go in like the chi-squared math: for whoever is interested only. I was suggesting in the Text Classification specialisation because we happen to use it there (even if it's not that important that it's an SVM based classifier).
But I'm also happy to just remove the SVM content all together.

The other content I was suggesting

[2021-03-23 08:58] CatarinaSilva commented on #33
Yap I think keeping it "in the bootcamp" but as optional can be good. No presentation, just the notebooks, and they are not mandatory 😄

What do you think of adding the undersampling/oversampling to either "Feature Engineering" (SLU15) or "Data Sufficiency & Selection" (SLU16)? Or should they be a new SLU, and if so, an optional one?

The same goes for dummy classifiers, where should they go?

[2021-04-02 11:50] CatarinaSilva commented on #33
Hey @dominguezmaria so do we have a final version of this?

A couple of questions left responding:
* Moving SLU12 and 14 to other specs or making them optional?
* what are the requirements for passing ?
* what is the distribution over the 2 days of bootcamp?
* Where do the new topics go (undersampling/oversampling + dummy classifiers)?

If I may give some suggestions for the curriculum:

* Making

[2021-04-04 16:43] dominguezmaria commented on #33
Sorry for my delay on this @CatarinaSilva !

**On the LUs about models (kNN, SVMs)**, let's make them optional and introduce them at bootcamp time.
Being optional means that:
* There will be no presentation for them, the contents will just be in the repo
* The contents should be the same as for the other SLUs (learning, example and exercises notebook)
* The students are not required to do anything

[2021-04-05 07:24] CatarinaSilva commented on #33
@dominguezmaria agreed with all, in particular the reshuffling of regressions/metrics/model selection.

But let's wait for @PedroGFonseca 's feedback also

[2021-04-05 15:02] dominguezmaria commented on #33
Ah forgot to mention that I'd like to remove the Tidy Data section from [SLU06](https://github.com/LDSSA/curriculum-development/blob/master/curriculum/01-bootcamp-and-binary-classification.md#slu06), as it feels a bit hard to explain it and not so useful 😅

[2021-05-08 14:39] CatarinaSilva commented on #33
Hi @dominguezmaria how should we proceed with this? Are you going to merge the info into this repo?

Once this is closed, I was thinking if using the outcome from this issue to change the bootcamp page in the wiki so that it is clear about the units/evaluation/what's mandatory and what's not/etc

[2021-05-13 00:43] dominguezmaria commented on #33
@CatarinaSilva , created [this PR](https://github.com/LDSSA/curriculum-development/pull/34) with all the changes we've discussed.

Could I get a review? Will merge it after if it looks good to you!

[2021-05-20 01:29] #33 closed

[2021-07-16 12:19] cimendes opened #35 "SLU16 - Workflow - Proposed changes"
# Proposed changes to SLU16 Workflow

## Context

Currently this is the only small learning unit to cover pipelines and custom sklearn objects. This last part was severely lacking, with only one example of a custom estimator

## Detailed Description

Add custom sklearn objects to the curriculum, with emphasis on custom estimators

Belongs to Specialization 1 - SLU16 (Workflow9

## Possible Impleme

[2021-07-24 14:34] CatarinaSilva opened #36 "SLU08/13 curriculum overlap"
## Context

Improvements to bootcamp flow

## Detailed Description

SLU08 has

[code]

then SLU10 ignores these topics, even though it's the analogous unit to this one for classification.

And in SLU13 they come back with much more context:

[code]

with a deeper view over these.

## Possible Implementation

Remove how to use from SLU08, making it consistent with SLU10 and ensuring a better split

[2021-12-18 16:34] cimendes opened #37 "Missing curriculum for S6 - Data Science in the real world"
# Missing curriculum for S6 - Data Science in the real world

Currently, there are no guidelines for the S6 curriculum. These should be added to the repo containing what is currently being covered in the academy. I'm tagging the people who were responsible for S6 on batch5.

[2022-02-26 18:34] cimendes opened #38 "[S06 - BLU14] Add info on how to retrieve data from DB on Heroku"
# [S06 - BLU14] Add info on how to retrieve data from DB on Heroku

## Context

Currently, we are providing information on BLU on how to reset the Postgres DB in Heroku, but we never cover how to retrieve the information in the database. This is necessary for data drift analysis and/or redeployment.

## Detailed Description

This is affecting students, particularly during the Capstone project, as

[2022-02-28 07:27] cimendes opened #39 "[S06 - BLU13] - Test database storage"
# [S06 - BLU14] - Test database storage

## Context

This is related to [this issue](https://github.com/LDSSA/heroku-model-deploy/issues/19)

## Detailed Description

A few students have reached the capstone without having set up the database correctly in Heroku and without noticing that no observations were being stored.

Locally, the line in [this issue](https://github.com/LDSSA/heroku-model-dep

[2022-03-12 11:40] cimendes opened #40 "[S06] use joblib instead of pickle"
# Title

https://scikit-learn.org/stable/modules/model_persistence.html

## Context

## Detailed Description

## Possible Implementation

[2022-04-02 13:24] minhhoang1023 opened #41 "Expand materials on Ethics & Fairness"
# Expand materials on Ethics & Fairness

## Context

At the moment, we focus mainly on introducing the concept, and how biases are introduced (in the SLU). Not much about how we as Data scientists can spot and fix the current status quo.

What happened is that students think that they could easily remove bias by removing sensitive features. Which is far from correct.

## Possible Implementation
-

[2022-06-24 14:15] UrbanoFonseca commented on #35
I agree that covering custom estimators would be super useful, specially for later developments and not necessarily the initial stages of the bootcamp. In practice, I find custom transformers to be much useful than custom estimators for students to learn, as you (most likely) will need to develop better data processing tools for your data instead of new models/algorithmia.
**Unless** we are talkin

[2022-06-24 14:23] cimendes commented on #35
Given the size of the unit, completely replacing custom estimators (that I've never used) with custom transformer (that I've used A LOT) seems like a good compromise :)

[2022-06-24 14:47] UrbanoFonseca commented on #36
SLU13 is pretty good for students to perceive the different metric estimation techniques, applicable to both regression and classification, and it covers all the techniques mentioned in SLU08.
:+1: Agree that we can remove the "Using the metrics" section from SLU08 but since this is taking most of the learning notebook (like 60%), we must replace with something more meaningful to the students.

I'

[2022-06-24 14:48] UrbanoFonseca commented on #36
SLU13 is pretty good for students to perceive the different metric estimation techniques, applicable to both regression and classification, and it covers all the techniques mentioned in SLU08.
:+1: Agree that we can remove the "Using the metrics" section from SLU08 but since this is taking most of the learning notebook (like 60%), we must replace with something more meaningful to the students.

I'

[2022-06-24 15:42] UrbanoFonseca commented on #37
I'm drafting a proposal for this specialization's curriculum. Will update and left for discussion when it is ready.

[2022-06-28 08:38] UrbanoFonseca opened #42 "[B6] Update CONTRIBUTING.md"
# Update CONTRIBUTING.md

## Context

The current contribution guidelines currently contain broken links, missing sections and out-of-date team members.

## Possible Implementation

- [ ] Update the Curriculum team
- [ ] Update the broken links to Code of Conduct, Teaching Philosophy
- [ ] Add the Milestones missing section

[2022-06-28 11:00] UrbanoFonseca commented on #36
cc/ @marianahenriques1

[2022-06-30 10:25] UrbanoFonseca commented on #38
Agree, seems relevant enough for the Capstone.

We can add another "Extra" guide.

[2022-06-30 11:01] UrbanoFonseca commented on #38
Added in https://github.com/LDSSA/curriculum-development/pull/43

[2022-06-30 11:01] UrbanoFonseca commented on #39
Added in #43

[2022-08-12 15:50] #37 closed

[2022-08-12 15:50] #38 closed

[2022-08-12 15:50] #39 closed

[2022-08-18 11:52] UrbanoFonseca opened #44 "[S04] Missing curriculum"
## Context

We are missing the curriculum for the Specialization 4 - Text Classification.

[2022-08-22 18:11] CatarinaSilva commented on #36
Sounds good to me @UrbanoFonseca !

[2022-10-03 17:39] UrbanoFonseca opened #45 "[SLU12] Missing data types concepts"
## Context

In SLU06, we talk about cleaning categorical and numerical variables but these concepts are introduced in detail only in SLU12.

I'm ccing @majkah0 @danizao since you were the instructors for this year to have your feedback.

## Detailed Description

There is a key distinction we need to make between statistical data types (what the values represent) and the implementation data types (